.btn {
  cursor: pointer;
  width: fit-content;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  box-shadow: var(--box-shadow);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}
