.credit-score-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    & label {
      font-weight: 700;
      margin-bottom: 1rem;
      font-size: 1.8rem;
    }
    & input {
      height: 50px;
      padding: 0.5rem;
      outline: none;
      border: none;
      border-radius: var(--border-radius);
      text-align: center;
      font-size: 2.2rem;
      width: 50%;
    }
  }
  .btn-submit {
    background-color: var(--warning-color);
    font-size: 1.5rem;
    width: 50%;
  }
}
